@font-face {
   font-family: 'Taviraj-regular';
   src: url("fonts/Taviraj/Taviraj-Regular.ttf");
}

@font-face {
   font-family: 'Taviraj-medium';
   src: url("fonts/Taviraj/Taviraj-Medium.ttf");
}

html {
   scroll-behavior: smooth;
   margin: 0
}

p, a, a:visited {
   text-decoration: none;
   font-size: 1em;
   color: rgb(51, 51, 51);
}

body {
   margin: 0;
   padding: 0;
   font-family: "Taviraj-regular";
   background-color: rgb(255, 249, 235);
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

/*Sélection*/
table {
   border-collapse: collapse;
   text-align: left;
   box-shadow: 2px 2px 10px rgb(51, 51, 51);
   margin-bottom: 300px;
}

thead{
   background-color: rgb(51, 51, 51);
   color: rgb(255, 249, 235);
}

th,td{
   max-width:100px;
   padding-top:16px;
   padding-bottom: 16px;
   padding-left: 40px;
   padding-right: 40px;
   position: relative;
}

.lignePaire{
   background-color: rgba(51, 51, 51, 0.1);
}

.resume{
   max-width:500px;
}

.oeil{
   width: 30px;
   position: relative;
   top: 14px;
   right: 40px;
   transition: all 0.2s;
   position: absolute;
}

.oeil:hover{
   width:35px;
   top:12px;
   right:37px;
}

/*Affichage Elements*/
h1{
   margin-top: 0px;
}
section{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 300px;
}

.imgUser{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
   width: 50vw;
   box-shadow: 2px 2px 10px rgb(51, 51, 51);
   border-radius: 10px;
   transition: all 0.5s;
   animation-name: animImg;
   animation-duration: 0.5s;
   opacity: 1;
}

.imgUser.animation{
   opacity: 0
}

@keyframes animImg {
   0%{opacity: 0;}
}
.headerPublic{
   width: 50vw;
   display: flex;
   align-items: center;
   justify-content:space-between;
   background-color: rgb(51, 51, 51);
   border-top-left-radius: 10px;
   border-top-right-radius:10px;
   color: rgb(255, 249, 235);
}

.headerPublic a{
   margin-left: 10px;
   padding: 5px 20px 5px 20px;
   border-radius:50px;
   background-color: rgb(255, 249, 235);
   color:rgb(51, 51, 51);

}

.headerPublic h3{
   margin-right: 20px;
}

.imgUser img {
   margin-top: 30px;
   width: 45vw;
}

/*Fleche*/
.flecheDroite, .flecheGauche{
   width:100px;
   position: absolute;
   top:50%;
   transform: translate(-50%,-50%);
   transition: all 0.2s;
}
.flecheGauche{
   left: 12%;
}
.flecheDroite{
   right: 5%;
}

.flecheDroite:hover, .flecheGauche:hover{
   width: 107px;
}
.flecheDroite:hover{
   right: 4.5%;
}

.emptySel{
   margin-top: 15vh;
   margin-bottom:300px;
}
@media all and (max-device-width:480px) {

table{
   margin-top: 30vh;
   margin-bottom: 500px;
}

body{
   position: inherit;
}

.imgUser{
   margin-top: 10vh;
   width: 90vw;
}

.headerPublic{
   width: 90vw;
}
.imgUser img{
   width: 85vw;
}

.flecheDroite,.flecheGauche{
   top:67%;
   width: 70px;
}

.flecheDroite{
   right: 33%;
}
.flecheGauche{
   left: 40%;
}

.flecheDroite:hover, .flecheGauche:hover{
   width: 70px;
}
.flecheDroite:hover{
   right: 33%;
}
.flecheGauche:hover{
   right: 33%;
}
}
