@font-face {
   font-family: 'Taviraj-regular';
   src: url("fonts/Taviraj/Taviraj-Regular.ttf");
}

@font-face {
   font-family: 'Taviraj-medium';
   src: url("fonts/Taviraj/Taviraj-Medium.ttf");
}

html {
   scroll-behavior: smooth;
   margin: 0
}

p, a, a:visited {
   text-decoration: none;
   font-size: 1em;
   color: rgb(51, 51, 51);
}

body {
   margin: 0;
   padding: 0;
   font-family: "Taviraj-regular";
   background-color: rgb(255, 249, 235);
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

/*Sélection*/
table {
   border-collapse: collapse;
   text-align: left;
   box-shadow: 2px 2px 10px rgb(51, 51, 51);
   margin-bottom: 300px;
}

thead{
   background-color: rgb(51, 51, 51);
   color: rgb(255, 249, 235);
}

th,td{
   max-width:100px;
   padding-top:16px;
   padding-bottom: 16px;
   padding-left: 40px;
   padding-right: 40px;
   position: relative;
}

.lignePaire{
   background-color: rgba(51, 51, 51, 0.1);
}

.resume{
   max-width:500px;
}

.oeil{
   width: 30px;
   position: relative;
   top: 14px;
   right: 40px;
   transition: all 0.2s;
   position: absolute;
}

.oeil:hover{
   width:35px;
   top:12px;
   right:37px;
}

/*Affichage Elements*/
h2{
   margin-top: 0px;
   color : rgb(51, 51, 51);
   font-size: 2em;
}
section{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 30px;
}

.imgUser{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
   width: 50vw;
   min-width:600px;
   box-shadow: 2px 2px 10px rgb(51, 51, 51);
   border-radius: 10px;
}


.headerPublic{
   width: 100%;
   min-width: 600px;
   display: flex;
   align-items: center;
   justify-content:space-between;
   background-color: rgb(51, 51, 51);
   border-top-left-radius: 10px;
   border-top-right-radius:10px;
   color: rgb(255, 249, 235);
}

.headerPublic a{
   margin-left: 10px;
   padding: 5px 20px 5px 20px;
   border-radius:50px;
   background-color: rgb(255, 249, 235);
   color:rgb(51, 51, 51);

}

.headerPublic h3{
   margin-right: 20px;
}

.imgUser img {
   margin-top: 30px;
   max-width: 45vw;
   min-width: 580px;
}

/*Fleche*/
.flecheDroite, .flecheGauche{
   width:100px;
   position: absolute;
   top:50%;
   transform: translate(-50%,-50%);
   transition: all 0.2s;
}
.flecheGauche{
   left: 12%;
}
.flecheDroite{
   right: 5.2%;
}

.flecheDroite:hover, .flecheGauche:hover{
   width: 107px;
}
.flecheDroite:hover{
   right: 4.5%;
}

.emptySel{
   margin-top: 15vh;
   margin-bottom:300px;
}

.indice{
   flex-direction: row;
   margin-bottom: 300px;
   height: auto;
   width: 600px;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.indiceB, .indiceG{
   display: flex;
   align-items: center;
   justify-content: center;
   content: '';
   width: 30px;
   height: 30px;
   background-color: rgb(255, 249, 235);
   border-radius: 50%;
   border: solid 1px rgb(51, 51, 51);
   margin:7px;
}

.indiceB::after{
   content: '';
   width: 90%;
   height: 90%;
   border-radius: 50%;
   background-color: rgb(13, 50, 65);
}

.indiceG::after{
   content: '';
   width: 80%;
   height:80%;
   border-radius: 50%;
   background-color: rgb(255, 249, 235);
   transition: all 0.2s;
}
.indiceG:hover::after{
   width: 90%;
   height: 90%;
   background-color: rgb(51, 51, 51);
}
@media all and (max-width:1100px) {
   .flecheDroite,.flecheGauche{
      opacity: 0;
   }

}

@media all and (max-device-width:480px) {

a,p,h3,td,th{
   font-size: 1.5em;
}

table{
   margin-top: 20vh;
   margin-bottom: 500px;
   max-width: 95%;
}

.oeil{
   width: 35px;
   top:39px;
   right:21px;
}
.oeil:hover{
   width:35px;
   top:39px;
   right:21px;
}

body{
   position: inherit;
}

.imgUser{
   position: relative;
   top: 50%;
   transform: translateY(10%);
   width: 90vw;
}

.headerPublic{
   width: 90vw;
}
.imgUser img{
   max-height: 32vh;
   max-width: 85vw;
}

.indice{
   position: absolute;
   top: 65%;
   transform: translateY(100%);
}


}
