@font-face {
   font-family: 'Taviraj-regular';
   src: url("fonts/Taviraj/Taviraj-Regular.ttf");
}

html {
   scroll-behavior: smooth;
   margin: 0
}

p, a, a:visited {
   text-decoration: none;
   font-size: 1em;
   color: rgb(255, 249, 235);
}

body {
   margin: 0;
   padding: 0;
   font-family: "Taviraj-regular";
   background-color: rgb(255, 249, 235);
   color: rgb(255, 249, 235);

}

/*AJOUT*/
.ajout{
   height: auto;
   width: 100%;
   background-color: rgb(13, 50, 65);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;
   padding: 30px;
}

form{
   border: solid 2px rgb(255, 249, 235);
   border-radius: 20px;
   width: 500px;
   height: 500px;;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

form div{
   width: 240px;
   margin: 5px;
   padding: 10px;
}

@media all and (max-device-width:480px) {
   body{
      background-color: rgb(13, 50, 65);
   }

   h2{
      font-size: 4em;
   }

   p, a, a:visited, label{
      font-size: 1.8em;
   }

   .ajout{
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
   }

   form{
      width: 70%;
      height: 800px;
   }
   input{
      margin: 10px;
   }
   form div{
      margin: 10px;
      transform: translateY(-30%);
   }

   #img{
      width:100px;
      height: 30px;
   }
}
