@font-face {
   font-family: 'Taviraj-regular';
   src: url("fonts/Taviraj/Taviraj-Regular.ttf");
}

html {
   scroll-behavior: smooth;
   margin: 0
}

p, a, a:visited, h3 {
   text-decoration: none;
   font-size: 1em;
   color: black;
}

h2{
   color: rgb(255, 249, 235);
}
body {
   margin: 0;
   padding: 0;
   font-family: "Taviraj-regular";
   background-color: rgb(255, 249, 235);
   display: flex;
   flex-direction: column;
   align-items: center;
}

/*HEADER*/
header{
   height: auto;
   width: 100%;
   padding: 30px;
   background-color: rgb(13, 50, 65);
   color: rgb(255, 249, 235);
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
}

.information {
   display: flex;
   flex-direction: column;
   align-items: center;

}

.infosUser {
   padding: 10px;
   border: solid 1px rgb(255, 249, 235);
   width: 500px;
}
.infosUser ul {
   list-style-type: none;
   margin-left: 0;
}

.infosUser li{
   margin: 10px;
}

/*PUBLICATION*/
h2{
   margin: 30px;
}

.publication{
   margin-top: 40px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 20px;
}

.imgUser{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px;
   width: 35vw;
}

.headerPublic{
   position: relative;
   width: 35vw;
   top:-10px;
   border-bottom: solid 1px black;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content:space-between;
   border-bottom: solid 1px black;
}

.headerPublic a{
   margin-left: 10px;
   padding:5px 15px 5px 15px;
   border-radius:20px;
   border: solid 1px black;
}

.headerPublic h3{
   margin-right: 20px;
}


.imgUser img{
   margin-top: 10px;
   width: 35vw;
}

@media all and (max-device-width:480px) {

   header{
      margin-top: 100px;
      flex-direction: column;
   }

   .information{
      margin-bottom: 50px;
   }

   .publication {
      margin-top: 20px;
      grid-gap: 120px;
      grid-template-rows: 42% 87px auto;
      margin-left: 25px;
   }

   h2{
      margin: 30px 0 30px 0;
   }
   h3{
      font-size: 2em;
   }
   .headerPublic {
      width: 43vw;
      height: 90px;
   }

   .headerPublic a{
      font-size: 2em;
   }

   .imgUser img{
      width: 47vw;
   }
}
