@font-face {
   font-family: 'Taviraj-regular';
   src: url("fonts/Taviraj/Taviraj-Regular.ttf");
}

html {
   scroll-behavior: smooth;
   margin: 0
}

p, a, a:visited {
   text-decoration: none;
   font-size: 1em;
   color: rgb(255, 249, 235);
}

body {
   margin: 0;
   padding: 0;
   font-family: "Taviraj-regular";
   background-color: rgb(255, 249, 235);
   color: rgb(255, 249, 235);

}

/*UTILISATEUR*/
.utilisateur {
   display: inline-flex;
   position: absolute;
   top: 30vh;
   right: 0;
}

.utilisateur img {
   width: 20px;
   margin-right: 10px;

}

.utilisateur a {
   margin: 10px;
   display: flex;
   align-items: center;
   padding: 10px;
   border: solid 2px rgba(0, 0, 0, 0);
   transition: all 0.5s;
   color: rgb(255, 249, 235);
}

.utilisateur a:hover {
   border: solid 2px rgb(255, 249, 235);

}

.connexion {
   display: none;
}
.connexion.open {
   padding: 100px 0px 100px 0px;
   height: auto;
   width: 100%;
   background-color: rgb(13, 50, 65);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}

.connexion.open a:visited {
   color : rgb(255, 249, 235);

}

/*CONNEXION*/
form{
   border: solid 2px rgb(255, 249, 235);
   border-radius: 20px;
   width: 500px;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
}

form h2{
   font-size: 2em;
   margin:0;
   margin-bottom:5px;
}

form div{
   width: 240px;
   margin-bottom: 10px;
}

#message{
   position: absolute;
   transform: translateX(10px);
}
.buttonConnexion{
   margin-top: 30px;
   position: relative;
}

}
.connexion a{
   margin-top: 5px;
   transition: all 0.5s;
}

.connexion a:hover{
   text-decoration:underline;
}

/*CREATE COMPTE*/
.createCompte{
   display: none;
}
.createCompte.open {
   padding: 80px 0px 80px 0px;
   width: 100%;
   background-color: rgb(13, 50, 65);
   display: flex;
   align-items: center;
   justify-content: center;
}

@media all and (max-device-width:480px) {

   p, a, a:visited, label{
      font-size: 1.8em;
   }

   form h2{
      font-size: 4em;
   }

   body{
      background-color: rgb(13, 50, 65);
   }

   .utilisateur {
      display: none;
   }

   .connexion.open {
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
   }

   form{
      width: 90%;
      height: 700px;
   }

   form div{
      margin: 15px;
   }

   .buttonConnexion{
      width: 150px;
      height: 30px;
   }

   .createCompte.open {
      position: absolute;
      left:50%;
      top:50%;
      transform: translate(-50%,-50%);
   }

   .createCompte.open form{
      height: auto;
   }


}
