@font-face {
   font-family: 'Taviraj-regular';
   src: url("fonts/Taviraj/Taviraj-Regular.ttf");
}

@font-face {
   font-family: 'Taviraj-medium';
   src: url("fonts/Taviraj/Taviraj-Medium.ttf");
}

html {
   scroll-behavior: smooth;
   margin: 0
}

p, a, a:visited {
   text-decoration: none;
   font-size: 1em;
   color: black;
}

body {
   margin: 0;
   padding: 0;
   font-family: "Taviraj-regular";
   background-color: rgb(255, 249, 235);
   display: flex;
   flex-direction: column;
   align-items: center;
}

/*UTILISATEUR*/
.utilisateur {
   display: inline-flex;
   position: absolute;
   top: 30vh;
   right: 0;
}

.utilisateur img {
   width: 20px;
   margin-right: 10px;

}

.utilisateur a {
   margin: 10px;
   display: flex;
   align-items: center;
   padding: 10px;
   border: solid 2px rgba(0, 0, 0, 0);
   transition: all 0.5s;
   color : rgb(255, 249, 235);
}

.utilisateur a:visited {
   color : rgb(255, 249, 235);
}
.utilisateur a:hover {
   border: solid 2px rgb(255, 249, 235);
}


/*HEADER*/
header {
   height: 70vh;
   width: 100%;
   background-color: rgb(13, 50, 65);
   display: flex;
   align-items: center;
   justify-content: center;
   transition: all 1s;
   color : rgb(255, 249, 235);
}

header.position {
   height: 50vh;
}

.utilisateur {
   display: inline-flex;
   position: absolute;
   top: 30vh;
   right: 0;
}

.utilisateur img {
   width: 20px;
   margin-right: 10px;
}

.utilisateur a {
   margin: 10px;
   display: flex;
   align-items: center;
   padding: 10px;
   border: solid 2px rgba(0, 0, 0, 0);
   transition: all 0.5s;
}

.utilisateur a:hover {
   border: solid 2px rgb(255, 249, 235);
}

h1 {
   font-family: "Taviraj-medium";
   color: rgb(255, 249, 235);
   font-size: 7em;
   border: solid 5px rgb(255, 249, 235);
   padding: 20px;
   animation-name: h1;
   animation-duration: 3s;
   position: relative;
   top: 0;
   width: 500px;
   text-align: center;
}

@keyframes h1 {
   0% {
      opacity: 0;
      position: relative;
      top: -50px;
      border: solid 5px rgba(255, 249, 235, 0);
   }
}


/*PUBLICATIONS*/

h2{
   margin-top:60px;
}

section{
   display: flex;
   flex-direction: column;
   align-items: center;
   color: black;
}

section p{
   text-align: center;
}
.imgUser{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px;
   margin-top: 30px;
   width: 50vw;
}

.headerPublic{
   width: 50vw;
   border-bottom: solid 1px black;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content:space-between;
   border-bottom: solid 1px black;
}

.headerPublic a{
   margin-left: 10px;
   padding:5px 20px 5px 20px;
   border-radius:50px;
   color: black;
   border: solid 1px black;
}

.headerPublic h3{
   color: black;
   margin-right: 20px;
}

section p{
   color: black;
}

.imgUser img{
   margin-top: 10px;
   width: 50vw;
}

@media all and (max-device-width:480px) {

   a, a:visited {
      font-style: 1.8em;
   }

   p{
      font-size: 1.8em;
   }

   .utilisateur {
      display: none;
   }

   header {
      height: 90vh;
      background-color: rgb(13, 50, 65);
   }

   header.position {
      height: 70vh;
   }


   h1 {
      width: 90%;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   /*PUBLICATION*/

   h3{
      font-size: 2em;
   }
   .headerPublic {
      width: 80vw;
      height: 90px;
   }

   .headerPublic a{
      font-size: 2em;
   }


   .imgUser img {
      margin-top: 30px;
      width: 90vw;
   }
}
