@font-face {
   font-family: 'Taviraj-regular';
   src: url("fonts/Taviraj/Taviraj-Regular.ttf");
}

aside a, aside a:visited {
   color: black;
}

aside {
   height: 30vh;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.navBar {
   margin-left: 0;
   display: inline-flex;
   width: 60%;
   justify-content: center;
   align-items: center;
   border-bottom: solid 1px black;
   border-top: solid 1px black;
   z-index: 10;
   background-color: rgb(255, 249, 235);
   list-style-type: none;
}

.navBar.position {
   position: fixed;
   top: 0;
   margin: 0;
   width: 100%;
   background-color: rgb(255, 249, 235);
   border-bottom: none;
   border-top: none;
   box-shadow: 3px 3px 10px black;
   height: 50px;
}

.navBar li {
   width: 100px;
   text-align: center;
   height: 30px;
   margin: 30px;
}


.sous {
   display: none;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 8px;
   width: 346px;
   overflow: hidden;
   background-color: rgba(28, 98, 129, 0.9);
   list-style-type: none;
   height: auto;
   padding: 8px;
   margin-top: 37px;
   margin-left: -130px;
}

.navBar.position .sous{
   margin-top: 13px;
}

.menu:hover .sous {
   display: grid;
   opacity: 1;
   animation: menu 0.5s;
}

@keyframes menu {
   from{
      opacity: 0;
   }
}
.sous::before {
   display: block;
   content: '';
   position: absolute;
   width: 141px;
   height: 34px;
   transform: translate(100px, -41px);
}

.sous li {
   text-align: center;
   padding: 5px;
   margin: 0px;
   transition: all 0.5s;
}

.sous li a{
   color:rgb(255, 249, 235);
}

.sous li:hover{
   background-color: rgb(255, 249, 235);
}

.sous li:hover a{
   color:black;
}

.compte {
   border: solid 1px rgb(255, 249, 235);
   border-radius: 20px;
   position: relative;
   left: 15%;
   transition: all 0.5s;
   padding: 3px;
}

.compte:hover {
   border: solid 1px black;
}


.compte:hover .sous {
   width: 111px;
   grid-template-columns: repeat(1, 1fr);
   grid-gap: 8px;
   margin-left: -14px;
}

.compte .sous::before {
   width: 127px;
   height: 34px;
   transform: translate(-8px, -41px);
}
