/*UTILISATEUR*/
.utilisateur {
   display: inline-flex;
   position: absolute;
   top: 30vh;
   right: 0;
}

.utilisateur img {
   width: 20px;
   margin-right: 10px;

}

.utilisateur a {
   margin: 10px;
   display: flex;
   align-items: center;
   padding: 10px;
   border: solid 2px rgba(0, 0, 0, 0);
   transition: all 0.5s;
}

.utilisateur a:hover {
   border: solid 2px rgb(255, 249, 235);
}

/*NAVBAR*/
aside {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 30vh;
}

.navBar {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   padding: 10px 20vw 10px 20vw;
   border-bottom: solid 1px rgb(0, 0, 0);
   border-top: solid 1px rgb(0, 0, 0);
   background-color: rgb(255, 249, 235);
   z-index: 5;
   transition: all 0.5s;
}

.navBar a {
   margin: 20px;
   transition: all 0.5s;
   border-bottom: solid 2px rgb(0, 0, 0);
   color: rgb(0, 0, 0);
}

.navBar.position {
   padding: 0px 5vw 0px 5vw;
   position: fixed;
   top: 0;
   border-bottom: none;
   border-top: none;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   width: 100%;
   justify-content: center;
   box-shadow: 3px 3px 10px black;
}

.navBar.position a {
   margin: 7px 20px 7px 20px;
}

.menu {
   margin-top: 32px;
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
   position: absolute;
   width: 100px;
   color: rgb(255, 249, 235);
   background-color: rgba(28, 98, 129, 0.9);
   height: 0;
   opacity: 1;
   transition: all 0.5s;
   transform: translateX(-12px);
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   border-left:solid 1px rgba(28, 98, 129, 0.9);
   border-right:solid 1px rgba(28, 98, 129, 0.9);
   overflow: hidden;
}

.navBar .navCompte{
   position: absolute;
   transform: translateX(29vw);
   border-bottom: none;
   border: solid 1px rgb(255, 249, 235);
   border-radius: 10px;
   padding: 2px 10px 2px 10px;
   cursor: pointer;
}

.navBar .navCompte:hover{
   border: solid 1px black;
}

.navCompte .menu{
   width: 120px;
   transform: translateX(-30px);
   margin-top :31px;
}

.navSelections:hover::after,
.navCompte:hover::after {
   display: block;
   content: '';
   position: absolute;
   width: 100px;
   height: 33px;
   transform: translate(-12px, 1px);
   opacity: 0;
}

.navBar.position .navSelections:hover::after,
.navBar.position .navCompte:hover::after {
   height: 10px;
}

.navSelections:hover .menu {
   height: 100px;
   opacity: 1;
}

.navCompte:hover .menu{
   height: 140px;
   opacity: 1;
}

.navSelections:hover .menu p,
.navCompte:hover .menu p{
   border-top: solid 1px rgba(255, 249, 235, 0);
   border-bottom: solid 1px rgba(255, 249, 235, 0);
   margin: 5px 0px 5px 0px;
   cursor: pointer;
}

.navSelections:hover .menu p:hover,
.navCompte:hover .menu p:hover{
   border-top: solid 1px rgb(255, 249, 235);
   border-bottom: solid 1px rgb(255, 249, 235);
   background-color: rgb(255, 249, 235);
   color: rgb(28, 98, 129);
}

.navBar.position .menu {
   margin-top: 10px;
}

.navBar a::before {
   display: block;
   content: '';
   position: absolute;
   transition: all 0.5s;
   height: 4px;
   transform: translateY(26px);
   background-color: rgb(255, 249, 235);
}

.navHome::before {
   width: 45px;
}

.navActu::before {
   width: 77px;
}

.navSelections::before {
   width: 79px;
}

.navTop::before {
   width: 29px;
}

.navBar a:hover::before {
   transform: translate(-101%, 26px);
}
