@font-face {
   font-family: 'Taviraj-regular';
   src: url("fonts/Taviraj/Taviraj-Regular.ttf");
}

html {
   scroll-behavior: smooth;
   margin: 0
}

 a, a:visited, h3 {
   text-decoration: none;
   font-size: 1em;
   color: black;
}

p{
   text-align: center;
   font-size: 1em;
}
body {
   margin: 0;
   padding: 0;
   font-family: "Taviraj-regular";
   background-color: rgb(255, 249, 235);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.buttonInfos {
   display: inline-flex;
   position: absolute;
   top: 32%;
}

.buttonInfos a {
   margin: 10px;
   border: solid 2px rgba(0, 0, 0, 0);
   transition: all 0.5s;
   color: rgb(255, 249, 235);
   border-radius: 50px;
   padding: 6px 15px 6px 15px;
   width: 110px;
   text-align: center;
}

.buttonProfil.open, .buttonAdmin.open {
   background-color: rgb(255, 249, 235);
   color: rgb(13, 50, 65);
   border-radius: 50px;
}

/*HEADER*/
header {
   height:auto;
   width: 100%;
   padding: 100px 0 100px 0;
   background-color: rgb(13, 50, 65);
   color: rgb(255, 249, 235);
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.information {
   display: none;
}

.information.open {
   display: flex;
   align-items: center;
   flex-wrap: wrap;
   justify-content: center;
}

.information.open section {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 60px 0 60px;
}

.infosUser {
   padding: 10px;
   border: solid 2px rgb(255, 249, 235);
   border-radius: 20px;
   width: 500px;
}

.infosUser ul {
   list-style-type: none;
   margin-left: 0;
}

.infosUser li {
   margin: 10px;
   padding: 10px;
}

.infosOrga div{
   transform: none;
   width: 100%;
   margin: 10px;
}

/*Administration*/
.buttonInfos a:hover {
   border: solid 2px rgb(255, 249, 235);
}

.administration {
   display: none;
}

.administration.open {
   display: flex;
   margin-top: 60px;
}

form {
   border: solid 2px rgb(255, 249, 235);
   border-radius: 20px;
   width: 500px;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

form h2 {
   font-size: 2em;
   position: relative;
   transform: translateY(-30%);
}

form div {
   width: 240px;
   position: relative;
   transform: translateY(-70%);
   margin: 5px;
}

.buttonConnexion {
   transform: translateY(-10px);
}

.connexion a {
   margin-top: 5px;
   transform: translateX(-150px);
   transition: all 0.5s;
}

.connexion a:hover {
   text-decoration: underline;
}

/*PUBLICATION*/
.buttonsSelection{
   display:inline-flex;
   width: 70%;
   flex-wrap: wrap;
   justify-content: center;
}

.buttonsSelection a{
   border: solid 1px black;
   border-radius: 25px;
   transition: all 0.5s;
   padding: 5px 15px 5px 15px;
   margin: 15px;
}

.buttonsSelection a:hover{
   border: solid 1px rgb(28, 98, 129);
   background-color: rgb(28, 98, 129);
   color: rgb(255, 249, 235);
}


h2 {
   margin: 30px;
}

.publication {
   margin-top: 40px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 20px;
}

.imgUser {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px;
   width: 35vw;
}

.headerPublic {
   position: relative;
   width: 35vw;
   top: -10px;
   border-bottom: solid 1px black;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   border-bottom: solid 1px black;
}

.headerPublic a {
   margin-left: 10px;
   padding: 5px 20px 5px 20px;
   border-radius: 50px;
   border: solid 1px black;
}

.headerPublic h3 {
   margin-right: 20px;
}

.imgUser img {
   margin-top: 10px;
   width: 35vw;
}

@media all and (max-device-width:480px) {
   body{
      margin-left: 8%;
   }
   header {
      margin-top: 108px;
      flex-direction: column;
   }

   h2{
      font-size: 2em;
   }

   h3{
      font-size: 1.7em;
   }
   a{
      font-size: 1.5em;
   }

   p{
      font-size:1.5em;
   }

   .buttonInfos{
      top:8%;
   }

   .buttonInfos a{
      width: auto;
      margin:5;
   }

   section {
      margin-bottom: 50px;
   }

   .publication {
      margin-top: 20px;
      grid-gap: 120px;
      grid-template-rows: 50% 87px auto;
      margin-left: 25px;
   }

   .headerPublic {
      width: 43vw;
      height: 90px;
   }

   .headerPublic a {
      font-size: 2em;
   }

   .imgUser img {
      width: 47vw;
   }
}
