@font-face {
   font-family: 'Kiwi_Maru';
   src: url("fonts/Kiwi_Maru/KiwiMaru-Regular.ttf");
}

@font-face {
   font-family: 'Taviraj-medium';
   src: url("fonts/Taviraj/Taviraj-Medium.ttf");
}

html {
   scroll-behavior: smooth;
   margin: 0
}

p, a, a:visited {
   text-decoration: none;
   font-size: 1em;
   color: rgb(51, 51, 51);
}

h2{
   color: rgb(51, 51, 51);
   font-size: 2em;
}
body {
   margin: 0;
   padding: 0;
   font-family: "Kiwi_Maru";
   background-color: rgb(255, 249, 235);
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
}

/*UTILISATEUR*/
.utilisateur {
   display: inline-flex;
   position: absolute;
   top: 30vh;
   right: 0;
}

.utilisateur img {
   width: 20px;
   margin-right: 10px;

}

.utilisateur a {
   margin: 10px;
   display: flex;
   align-items: center;
   padding: 10px;
   border: solid 2px rgba(0, 0, 0, 0);
   transition: all 0.5s;
   color : rgb(255, 249, 235);
}

.utilisateur a:visited {
   color : rgb(255, 249, 235);
}
.utilisateur a:hover {
   border: solid 2px rgb(255, 249, 235);
}


/*HEADER*/
header {
   height: 70vh;
   width: 100%;
   background-color: rgb(13, 50, 65);
   display: flex;
   align-items: center;
   justify-content: center;
   color : rgb(255, 249, 235);
}
.utilisateur {
   display: inline-flex;
   position: absolute;
   top: 30vh;
   right: 0;
}

.utilisateur img {
   width: 20px;
   margin-right: 10px;
   position: relative;
   bottom:-1px;
}

.utilisateur a {
   margin: 10px;
   display: flex;
   align-items: center;
   padding: 10px;
   border: solid 2px rgba(0, 0, 0, 0);
   transition: all 0.5s;
}

.utilisateur a:hover {
   border: solid 2px rgb(255, 249, 235);
}

h1 {
   font-family: "Taviraj-medium";
   color: rgb(255, 249, 235);
   font-size: 7em;
   border: solid 5px rgb(255, 249, 235);
   padding: 20px;
   position: relative;
   top: 0;
   width: 500px;
   text-align: center;
}

/*ACTUALITES*/

section{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-bottom: 50px;
}

.actuUser{
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 50px;
   width: 50vw;
   min-width: 600px;
   box-shadow: 2px 2px 10px rgb(51, 51, 51);
   border-radius: 10px;
   transition: all 0.2s;
   text-align: center;
}

.actuUser:hover{
   width: 51vw;
}
.headerPublic{
   width: 100%;
   min-width: 600px;
   display: flex;
   align-items: center;
   justify-content:space-between;
   background-color: rgb(51, 51, 51);
   border-top-left-radius: 10px;
   border-top-right-radius:10px;
   color: rgb(255, 249, 235);
}

.headerPublic a{
   margin-left: 10px;
   padding: 5px 20px 8px 20px;
   border-radius:50px;
   background-color: rgb(255, 249, 235);
   color:rgb(51, 51, 51);

}

.headerPublic h3{
   margin-right: 20px;
}

@media all and (max-device-width:480px) {

   .utilisateur {
      display: none;
   }

   header {
      height: 90vh;
      background-color: rgb(13, 50, 65);
   }

   header.position {
      height: 70vh;
   }


   h1 {
      width: 90%;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
   }

   h2{
      font-size: 3em;
   }

   .headerPublic {
      width: 90vw;
      height: 100px;
   }

   .headerPublic a{
      font-size: 2em;
      margin-left: 15px;
      padding: 10px 25px 15px 25px;
   }

   /*ACTU*/

   .actuUser h3{
      font-size: 2em;
   }

   .actuUser p{
      font-size: 1.8em;
      width: 80%;
   }

   .actuUser{
      width: 90vw;
   }

   section{
      margin-bottom:30px;
   }
}
