footer p, footer ul{
   text-decoration: none;
   color: rgb(255, 249, 235);
}

footer h2{
   color: rgb(255, 249, 235);
}

footer ul {
   list-style-type: none;
   margin-left: 0;
}

footer{
   padding-top: 30px;
   padding-bottom: 30px;
   margin-top: 50px;
   width: 100%;
   background-color: rgb(13, 50, 65);
   display: flex;
   flex-direction: column;
   align-items: center;
}

@media all and (max-device-width:480px) {

   footer h2, footer ul{
      width: 90%;
   }

   footer h2{
      text-align: center;
   }

   .infosOrga{
      font-size: 1.8em;
   }

}
