@font-face {
   font-family: 'Taviraj-regular';
   src: url("fonts/Taviraj/Taviraj-Regular.ttf");
}

html {
   scroll-behavior: smooth;
   margin: 0
}

p, a, a:visited, h3{
   text-decoration: none;
   font-size: 1em;
   color: rgb(255, 249, 235);
}


body {
   margin: 0;
   padding: 0;
   font-family: "Taviraj-regular";
   background-color: rgb(255, 249, 235);
}

/*PHOTOS*/

section{
   display: flex;
   flex-direction: column;
   align-items: center;
   color: black;
}

section p{
   text-align: center;
}
.imgUser{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px;
   margin-top: 30px;
   width: 50vw;
}

.headerPublic{
   width: 50vw;
   border-bottom: solid 1px black;
   height: 60px;
   display: flex;
   align-items: center;
   justify-content:space-between;
   border-bottom: solid 1px black;
}

.headerPublic a{
   margin-left: 10px;
   padding:5px 20px 5px 20px;
   border-radius:50px;
   color: black;
   border: solid 1px black;
}

.headerPublic h3{
   color: black;
   margin-right: 20px;
}

section p{
   color: black;
}

.imgUser img{
   margin-top: 10px;
   width: 50vw;
}


@media all and (max-device-width:480px) {

   a, a:visited {
      font-style: 1.8em;
   }

   p{
      font-size: 1.8em;
   }

   section{
      margin-top: 38vh;
   }
   /*PUBLICATION*/

   h3{
      font-size: 2em;
   }
   .headerPublic {
      width: 80vw;
      height: 90px;
   }

   .headerPublic a{
      font-size: 2em;
   }


   .imgUser img {
      margin-top: 30px;
      width: 90vw;
   }
}
